
.myform {
	text-align: center;
}
.myform input[type=submit] {
	color: #ffffff;
	padding: 13px 43px;
	font-size: 20px;
	cursor: pointer;
	font-weight: 500;
	border:none;
	background:#63c6ae;
	margin-left: auto;
	margin-right: auto;
}

.myform input[type=submit]:hover {
	background:#455357;
	transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	-moz-transition: .5s all;	
}

.myform button{
	color: #ffffff;
	padding: 13px 43px;
	font-size: 20px;
	cursor: pointer;
	font-weight: 500;
	border:none;
	background:#63c6ae;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.myform button:hover {
	background:#455357;
	transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	-moz-transition: .5s all;	
}

.myform button[type=submit]{
	background:#63c6ae;
}

.myform button[type=log]{
	background:#6C94C7;
}

.myform button[type=submit]:hover,
.myform button[type=log]:hover
 {
	background:#455357;
	transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	-moz-transition: .5s all;	
}

.myform input[type=text],
.myform input[type=password]{
	width: 100%;
	color: #63C6AE;
	margin: 0px 0px 23px;
	font-size: 14px;
	padding: 12px 10px;
	outline: medium none;
	border: 1px solid #E8E8E8;
}

#register-col
{
	margin-left: auto;
	margin-right: auto;
	float: none;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}
.myform h3{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #737C85;
	font-size: 24px;
	font-weight: bold;
}
.myform span{
	font-size: 24px;
	font-weight: bold;
	color: #63C6AE;
}

a.myform{
	font-size: 14px;
	font-family: inherit;
	padding-top: 10px;
	color: #737C85;

}
a.myform:hover{
	color: #63C6AE;
}

.myeditor{
	height: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.mylaptop img{
	width: 500px;
	height: 500px;
	border-radius: 50%;

}

.mylaptop p{
	font-family: inherit;
	font-size: 30px;
	color: #ffffff;
	margin-top: 40px;
	margin-bottom: 40px;
}

.second-slider {
    padding: 80px 0px 100px;
    background: rgb(36, 42, 44) none repeat scroll 0% 0%;
    border-bottom: 10px solid rgb(36, 42, 44);
}

.blog {
    padding: 100px 0;
}

.blog-article h3 {
    color: #63c6ae;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.8em;
}

.blog-article p {
    color: #737c85;
    margin: 15px;
    font-size: 14px;
    line-height: 1.8em;
}

.blog-article a {
    color: #63c6ae;
    font-size: 14px;
    text-decoration: none;
    padding: 1px 4px 1px 4px;
}

.blog-article a:hover {
    background: #455357;
}

div.blog-article {
	border-top: 2px #CACFFF solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.blog_user_info{
	text-align: center;
	margin-top: 30px;
}

.blog_user_info h1,h2,h3,h4,h5,h6{
	text-align: center;
}

.blog_user_info h6.username{
	color: #455357;
}

.blog_user_info img.userlogo{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
