{% extends "cache.html" %}
{% block title %}business{% end %}

{% block content %}
<!-- business -->
<div class="business">
	<div class="container">
		<div class="business-info">
			<h3>OUR <span>BUSINESS</span></h3>
		</div>
		<div class="col-md-4 business-left">
			<img src="{{static_url("img/home/pic1.jpg")}}g" alt=""/>
		</div>
		<div class="col-md-8 business-right">
			<h3>NEQUE PORRO QUISQUAM EST QUI DOLOREM IPSUM QUIA DOLOR SIT AMET, CONSECTETUR </h3>
			<p>These cases are perfectly simple and easy to distinguish. In a free hour, 
			when our power of choice is untrammelled and when nothing prevents our being 
			able to do what we like best.adipisci velit maiores alias consequatur aut 
			perferendis doloribus asperiores repellat.At vero eos et accusamus et iusto odio</p>
			<a href="single.html">READ MORE</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="business-team">
	<div class="container">
		<div class="team-info">
			<h3>OUR <span>TEAM</span></h3>
		</div>
		<div class="business-grids">
			<div class="col-md-3 business-grid">
				<img src="{{static_url("img/home/ddd.jpg")}}" alt=""/>
				<p>Adipisci velit maiores alias consequatur aut 
			perferendis doloribus asperiores repellat. Consequatur eos et accusamus et iusto odio</p>
				<div class="busi-pos">
					<h3>PATRICK</h3>
				</div>
			</div>
			<div class="col-md-3 business-grid">
				<img src="{{static_url("img/home/eee.jpg")}}" alt=""/>
				<p>Adipisci velit maiores alias consequatur aut 
			perferendis doloribus asperiores repellat. Consequatur eos et accusamus et iusto odio</p>
				<div class="busi-pos">
					<h3>JOHN DOE</h3>
				</div>
			</div>
			<div class="col-md-3 business-grid">
				<img src="{{static_url("img/home/fff.jpg")}}" alt=""/>
				<p>Adipisci velit maiores alias consequatur aut 
			perferendis doloribus asperiores repellat. Consequatur eos et accusamus et iusto odio</p>
				<div class="busi-pos">
					<h3>JESSICA</h3>
				</div>
			</div>
			<div class="col-md-3 business-grid">
				<img src="{{static_url("img/home/ggg.jpg")}}" alt=""/>
				<p>Adipisci velit maiores alias consequatur aut 
			perferendis doloribus asperiores repellat. Consequatur eos et accusamus et iusto odio</p>
				<div class="busi-pos">
					<h3>THOMPSON</h3>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //business -->


{% end %}
