{% extends "cache.html" %}
{% block title %}business{% end %}

{% block content %}
<!-- business -->
<div class="business">
	<div class="container">
		<div class="business-info">
			<h3>我们的 <span>娱乐！活动！</span></h3>
		</div>
		<div class="col-md-4 business-left">
			<img src="{{static_url("img/home/pic1.jpg")}}g" alt=""/>
		</div>
		<div class="col-md-8 business-right">
			<h3>宿舍放电影！怕不怕！</h3>
			<p>继404推出理发服务后，今天再次推出我们的重磅惊喜：404宿舍影院。下一步将和隔壁403健身房合作，致力打造计院自己的梅园娱乐中心！</p>
			<a href="/home/single">READ MORE</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="business-team">
	<div class="container">
		<div class="team-info">
			<h3>OUR <span>TEAM</span></h3>
		</div>
		<div class="business-grids">
			<div class="col-md-3 business-grid">
				<img src="{{static_url("img/home/He.jpg")}}" alt=""/>
				<p>用计算机操控篮球弹吉他</p>
				<div class="busi-pos">
					<h3>He</h3>
				</div>
			</div>
			<div class="col-md-3 business-grid">
				<img src="{{static_url("img/home/J.jpg")}}" alt=""/>
				<p>比一号床叼</p>
				<div class="busi-pos">
					<h3>Jzuoyi</h3>
				</div>
			</div>
			<div class="col-md-3 business-grid">
				<img src="{{static_url("img/home/P.png")}}" alt=""/>
				<p>蛮叼</p>
				<div class="busi-pos">
					<h3>Piao</h3>
				</div>
			</div>
			<div class="col-md-3 business-grid">
				<img src="{{static_url("img/home/Z.jpg")}}" alt=""/>
				<p>傻逼一个</p>
				<div class="busi-pos">
					<h3>Zzz</h3>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //business -->


{% end %}
