<!DOCTYPE html>
<html>

<head>
    <title> {% block title %}{% end %}</title>
    <link href="{{static_url("css/style.css ")}}" rel="stylesheet" type="text/css" media="all" />
    <!--fonts-->
    <link href='http://fonts.useso.com/css?family=Sintony:700,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <link href="{{static_url("css/bootstrap.css ")}}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{static_url("css/font-awesome.min.css")}}">
    <link rel="stylesheet" type="text/css" href="{{static_url("css/mystyle.css ")}}">
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="404notfound">
    <script type="application/x-javascript">
    addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
    <!-- //for-mobile-apps -->
    <!-- js -->
    <script type="text/javascript" src="{{static_url("js/jquery-2.1.4.min.js ")}}"></script>
    <script type="text/javascript" src="{{static_url("js/bootstrap.js ")}}"></script>
    <!-- js -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="{{static_url("js/move-top.js ")}}"></script>
    <script type="text/javascript" src="{{static_url("js/easing.js ")}}"></script>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
    </script>
    <!-- start-smooth-scrolling -->
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="header-left">
            <!-- <a href="index.html"><img src="{{static_url("img/home/logo.png")}}" alt=""/></a> -->
            <a href="/404"><h3>404's Home</h3></a>
        </div>
        <div class="header-right">
            <span class="menu"><img src="{{static_url("img/home/menu.png")}}" alt=""/></span>
            <ul class="nav1">
                <!-- 					<li><a class="active" href="/404">DESIGN FOLIO</a></li> -->
                <!-- 					<li><a href="/home/services">Services</a></li> -->
                <!-- 					<li><a href="/home/about">About</a></li> -->
<!--                 <li><a href="/home/single">博客</a></li> -->
                <li><a href="/home/contact">联系我们</a></li>
                <li><a href="/home/aboutus">关于我们</a></li>
                <li><a href="/home/rank">俱乐部老友录</a></li>
                {% if correct_user==None %}
                <li style="float: right;"><a href="/home/login">登录/注册</a></li>
                {% else %}
                <li style="float: right;"><a href="/logout">退出</a></li>
                <li style="float: right;"><a href="/blog?id={{correct_user.user_id}}">你好，{{correct_user.user_name}}</a></li>
                <li style="float: right;"><a href="/articlewrite"><i class="fa fa-pencil">写文章</i></a></li>
                {% end %}
                <!-- Single button -->
            </ul>
            <!-- Split button -->
            <!-- script for menu -->
            <script>
            $("span.menu").click(function() {
                $("ul.nav1").slideToggle(300, function() {
                    // Animation complete.
                });
            });
            </script>
            <!-- //script for menu -->
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header -->
    <!-- how we help -->
    {% block content %}{% end %}
    <!-- //how we help -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-2 footer-grid logobtm">
                    <a href="index.html">嗯</a>
                </div>
                <div class="col-md-7 footer-grid">
                    <p>
                        祝好。
                    </p>
                </div>
                <div class="col-md-2 footer-grid">
                    <ul>
<!--                         <li><a href="#">List one</a></li>
                        <li><a href="#">Page two</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Work</a></li> -->
                        <li><a href="/blog?id=1">Made by HeReal</a></li>
                        <li><a href="/home/contact">Contact Me</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- smooth scrolling -->
    <script type="text/javascript">
    $(document).ready(function() {
        /*
        	var defaults = {
        	containerID: 'toTop', // fading element id
        	containerHoverID: 'toTopHover', // fading element hover id
        	scrollSpeed: 1200,
        	easingType: 'linear' 
        	};
        */
        $().UItoTop({
            easingType: 'easeOutQuart'
        });
    });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
</body>

</html>
