{% extends "cache.html" %}
{% block title %}Login{% end %}
{% block content %}
<div class="register">
	<div class="container" >
		<div class="col-md-5" id="register-col">				
			<div class="myform">
				<h3>Login<span>FORM</span></h3>
				<form>
				<input type="text" id="email" placeholder="E-mail" required>					
				<input type="password" id="psd" placeholder="Password" required>
				</form>
				<div class="alert alert-danger" role="alert" id="msg_danger">error</div>
				<div class="alert alert-success" role="alert" id="msg_success">success</div>
				<button type="log" id="btn_log">Log in</button>
			</div>
			<br>
			<a href="/home/register" class="myform">Have not registered?Click to register.</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#msg_danger").hide();
		$("#msg_success").hide();
		$("#btn_log").click(function(){
			var input_email = $("#email").val();
			var input_psd = $("#psd").val();
			$.ajax({
				url: '/login',
				type: 'post',
				dataType: 'json',
				data: {email: input_email,psd: input_psd},
				success: function(data){
					if(data["status"]==200){
						$("#msg_danger").hide();
						$("#msg_success").hide();
						$("#msg_success").text(data["data"]);
						$("#msg_success").show();
					}else{
						$("#msg_danger").hide();
						$("#msg_success").hide();
						$("#msg_danger").text(data["data"]);
						$("#msg_danger").show();
					}
					window.location.href="/home/index";
				}
			})
			
			
		});
	});
</script>
{% end %}