{% extends "cache.html" %}
{% block title %}Register{% end %}
{% block content %}
<div class="register">
	<div class="container" >
		<div class="col-md-5" id="register-col">				
			<div class="myform">
				<h3>Register<span>FORM</span></h3>
				<form>
				<input type="text" id="email" placeholder="E-mail" required>			
				<input type="text" id="name" placeholder="Name" required>			
				<input type="password" id="psd" placeholder="Password" required>
				<input type="password" id="conf_psd" placeholder="Password Confirme" required>
				</form>
				<div class="alert alert-danger" role="alert" id="msg_danger">error</div>
				<div class="alert alert-success" role="alert" id="msg_success">success</div>
				<button type="submit" id="btn_reg">Register</button>
			</div>
			<br>
			<a href="/home/login" class="myform">Have registered?Click to log in.</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	function toLoginPage(){
			window.location.href="/home/login";
		}
	$(document).ready(function(){

		$("#msg_danger").hide();
		$("#msg_success").hide();
		$("#btn_reg").click(function(){
			var input_email = $("#email").val();
			var input_name = $("#name").val();
			var input_psd = $("#psd").val();
			var input_confpsd = $("#conf_psd").val();
			$.ajax({
				url: '/register',
				type: 'post',
				dataType: 'json',
				data: {email: input_email,name : input_name,psd: input_psd , confpsd: input_confpsd},
				success: function(data){
					if(data["status"]==200){
						$("#msg_danger").hide();
						$("#msg_success").hide();
						$("#msg_success").text("Register successfully!turn to Login page after 2 second.");
						setTimeout("toLoginPage()",2000);
						$("#msg_success").show();
					}else{
						$("#msg_danger").hide();
						$("#msg_success").hide();
						$("#msg_danger").text(data["data"]);
						$("#msg_danger").show();
					}
					
				}
			})
			
			
		});

		
	});
</script>
{% end %}