{% extends "cache.html" %}
{% block title %}Register{% end %}
{% block content %}
<div class="register">
	<div class="container" >
		<div class="col-md-5" id="register-col">				
			<div class="myform">
				<h3>Register<span>FORM</span></h3>
				<form>
				<input type="text" id="email" placeholder="E-mail" required>			
				<input type="text" id="name" placeholder="Name" required>			
				<input type="password" id="psd" placeholder="Password" required>
				<input type="password" id="conf_psd" placeholder="Password Confirme" required>
				<label id="error1">·两次密码输入不一致</label>
				<input type="submit" id="btn_sub" value="SUBMIT">
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#error1").hide();
		
		$("#btn_sub").click(function(){
			var input_email = $("#email").text();
			var input_name = $("#name").text();
			var input_psd = $("#psd").val();
			var input_confpsd = $("#conf_psd").val();
			$.ajax({
				url: '/register',
				type: 'POST',
				dataType: 'json',
				data: {email: input_email,name : input_name,psd: input_psd , confpsd: input_confpsd},
				success: function(data){
					alert(data);
				}
			})			
		});
	});
</script>
{% end %}