{% extends "cache.html" %}
{% block title %}services{% end %}
{% block content %}
<!-- services -->
<div class="services">
	<div class="container">
		<div class="services-info">
			<h3>MAIN <span>SERVICES</span></h3>
		</div>
		<div class="services-grids">
				<div class="col-md-4 services-grid">
					<div class="services-left">
						<p>01</p>
					</div>
					<div class="services-right">
						<h3>AT VERO EOS ET ACCUSAMUS</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit 
						voluptatem accusantium doloremque laudantium, totam rem 
						aperiam, eaque ipsa quae ab illo </p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 services-grid">
					<div class="services-left">
						<p>02</p>
					</div>
					<div class="services-right">
						<h3>AT VERO EOS ET ACCUSAMUS</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit 
						voluptatem accusantium doloremque laudantium, totam rem 
						aperiam, eaque ipsa quae ab illo </p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 services-grid">
					<div class="services-left">
						<p>03</p>
					</div>
					<div class="services-right">
						<h3>AT VERO EOS ET ACCUSAMUS</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit 
						voluptatem accusantium doloremque laudantium, totam rem 
						aperiam, eaque ipsa quae ab illo </p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 services-grid">
					<div class="services-left">
						<p>04</p>
					</div>
					<div class="services-right">
						<h3>AT VERO EOS ET ACCUSAMUS</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit 
						voluptatem accusantium doloremque laudantium, totam rem 
						aperiam, eaque ipsa quae ab illo </p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 services-grid">
					<div class="services-left">
						<p>05</p>
					</div>
					<div class="services-right">
						<h3>AT VERO EOS ET ACCUSAMUS</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit 
						voluptatem accusantium doloremque laudantium, totam rem 
						aperiam, eaque ipsa quae ab illo</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 services-grid">
					<div class="services-left">
						<p>06</p>
					</div>
					<div class="services-right">
						<h3>AT VERO EOS ET ACCUSAMUS</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit 
						voluptatem accusantium doloremque laudantium, totam rem 
						aperiam, eaque ipsa quae ab illo </p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
		</div>
		
	</div>
</div>
<div class="services-list">
	<div class="container">
		<div class="serv-list-info">
			<h3>SERVICES <span>LIST</span></h3>
			<p>On the other hand, we denounce with righteous indignation and dislike men 
			who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</p>
		</div>
		<div class="serv-list-grids">
			<div class="col-md-4 serv-list-grid">
				<ul>
					<li><a href="#">These cases are perfectly simple </a></li>
					<li><a href="#">At vero eos et accusamus et iust </a></li>
					<li><a href="#">On the other hand, we denounce </a></li>
					<li><a href="#">The wise man therefore always </a></li>
					<li><a href="#">Temporibus autem quibusdam et au </a></li>
					<li><a href="#">To take a trivial example, which </a></li>
				</ul>
			</div>
			<div class="col-md-4 serv-list-grid">
				<ul>
					<li><a href="#">The wise man therefore always </a></li>
					<li><a href="#">Temporibus autem quibusdam et au </a></li>
					<li><a href="#">To take a trivial example, which </a></li>
					<li><a href="#">These cases are perfectly simple </a></li>
					<li><a href="#">At vero eos et accusamus et iust </a></li>
					<li><a href="#">On the other hand, we denounce </a></li>
					
				</ul>
			</div>
			<div class="col-md-4 serv-list-grid">
				<ul>
					<li><a href="#">At vero eos et accusamus et iust </a></li>
					<li><a href="#">On the other hand, we denounce </a></li>
					<li><a href="#">The wise man therefore always </a></li>
					<li><a href="#">These cases are perfectly simple </a></li>
					<li><a href="#">Temporibus autem quibusdam et au </a></li>
					<li><a href="#">To take a trivial example, which </a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<!-- //services -->

{% end %}
