{% extends "cache.html" %}
{% block title %}services{% end %}
{% block content %}
<!-- single -->
<div class="blog-page">
	<div class="container">
		
		<div class="blog-grids">
			<div class="blog-content">
				<div class="blog-post">
					<h4>volutpat diam non, condimentum neque. Lorem ipsum dolor sit</h4>
					<div class="post-details">
						<p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; On 15 jan, 2015 &nbsp;&nbsp; <a href="#">Comments</a>  (10)</p>
					</div>
					<img src="images/ppp.jpg" alt="" />
					<p>Nunc laoreet leo in pellentesque venenatis. Mauris id porttitor mauris. Integer malesuada nulla sit amet elit maximus.</p>
					<p>volutpat nec velit ut, congue scelerisque tortor. 
					Ut tincidunt malesuada tellus, eget ullamcorper mi. 
					Phasellus et nisi nec lorem molestie fermentum nec eu dolor. 
					Aenean suscipit posuere metus vel ultrices. Donec laoreet 
					diam consequat libero pretium pulvinar.</p>
				</div>
			</div>
			<div class="blog-sidebar">
				<h4>Categories</h4>
				<ul class="category">
					<li><a href="#">Cras ut ultrices</a></li>
					<li><a href="#">Nullam id enim</a></li>
					<li><a href="#">scelerisque enim</a></li>
					<li><a href="#">Ut tincidunt</a></li>
					<li><a href="#">Aliquam mauris nunc,</a></li>
					<li><a href="#">convallis ex urna, ege</a></li>
					<li><a href="#"> et commodo</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="leave-form">
			<h3>LEAVE YOUR OPINION</h3>
			<form>
				<input type="text" placeholder="Name" required="">
				<input type="text" placeholder="Email" required="">
				<input type="text" placeholder="Subject" required>
				<textarea placeholder="Message" required=""></textarea>	
				<input type="submit" value="SEND">
			</form>
		</div>
	</div>
</div>
<!-- //single -->

{% end %}
