{% extends "homepage/cache.html" %}
{% block title %}{{article.title}}{% end %}
{% block content %}
<!-- single -->
<div class="blog-page">
	<div class="container">
		
		<div class="blog-grids">
			<div class="blog-content">
				<div class="blog-post">
					<h4>{{article.title}}</h4>
					<div class="post-details">
						<p>Posted By <a href="/blog?id={{article.user_id}}">{{article.user_name}}</a> &nbsp;&nbsp; On {{article.time}} &nbsp;&nbsp; <a href="#comlist">Comments</a> {{len(comments)}}</p>
					</div>
					{% module ArticleContent(article.content) %}
				</div>
			</div>
			<!-- <div class="blog-sidebar">
				<h4>Categories</h4>
				<ul class="category">
					<li><a href="#">Cras ut ultrices</a></li>
					<li><a href="#">Nullam id enim</a></li>
					<li><a href="#">scelerisque enim</a></li>
					<li><a href="#">Ut tincidunt</a></li>
					<li><a href="#">Aliquam mauris nunc,</a></li>
					<li><a href="#">convallis ex urna, ege</a></li>
					<li><a href="#"> et commodo</a></li>
				</ul>
			</div> -->
			<div class="clearfix"></div>
		</div>
		<div class="leave-form">
			<h3 name="comlist">评论</h3>
		</div>

		<div class="comment">
		{% set i=1 %}
		{% for comment in comments%}
			<div class="container">
				<div class="row comment-item">
				    <div class="col-md-1">
				        <div class="comment-content">
				            <a href="/blog?id={{comment.commenter_id}}"><img class="userlogo" src="{{urls[comment.commenter_id]}}" alt=""></a>
				        </div>
				    </div>
				    <div class="col-md-4">
				    	<div class="comment-content">
				    		<p class="user-name">{{comment.commenter_name}}</p>
				            <p>{{comment.comment_content}}</p>
				            <p class="time">{{comment.comment_time}}      {{i}}楼</p>
				        </div>
				    </div>
				</div>
			</div>
			{% set i=i+1 %}
		{% end %}
		</div>

		<div class="leave-form">
			<h3>LEAVE YOUR OPINION</h3>
			<form action="/article" method="post">
<!-- 				<input type="text" placeholder="Name" required="">
				<input type="text" placeholder="Email" required="">
				<input type="text" placeholder="Subject" required> -->
				<input hidden name="article_id" value="{{article.article_id}}">
				<textarea placeholder="Message" name="comment_content" required=""></textarea>	
				<input type="submit" value="SEND">
			</form>
		</div>
	</div>
</div>

{% end %}
