{% extends "homepage/cache.html" %}
{% block title %}随笔{% end %}
{% block content %}
<!-- single -->
<div class="blog-page">
	<div class="container">
		<div class="leave-form">
			<h3>LEAVE YOUR OPINION</h3>
			<form>
				<input type="text" placeholder="Name" required="">
				<input type="text" placeholder="Email" required="">
				<input type="text" placeholder="Subject" required>
				<textarea placeholder="Message" required=""></textarea>	
				<input type="submit" value="SEND">
			</form>
		</div>
	</div>
</div>
<!-- //single -->

{% end %}
