{% extends "homepage/header.html" %}
{% block title %}blog{% end %}

{% block content %}

<!-- blog -->
<div class="container">
	<div class="clo-md-3 blog-user-info">
		<img class="userlogo" src="{{gravatar_url}}" alt="">
		<p class="username">{{blog_user.user_name}}</p>
		<h6><i class="fa fa-envelope-o"></i>{{blog_user.user_email}}</h6>
	</div>
</div>
<div class="blog">
	<div class="container">
		{% for article in articles %}
			<div class="col-md-12 blog-article">
				<p class="article_time"><i class="fa fa-bookmark"></i>{{article.time}}</p>
				<a href="/article?article_id={{article.article_id}}" class="article_title">{{article.title}}</a>
				{% module ArticleContent(article.content) %}
				<p class="aritcle-comment"><i class="fa fa-comment"></i></p>
				<a class="article-link" href="/article?article_id={{article.article_id}}">Readmore</a>
			</div>
			<div class="clearfix"></div>
		{% end %}
	</div>
</div>
{% end %}
